<!DOCTYPE html>
<html>
<body>

<h1>Show File-select Fields</h1>

<h3>Show a file-select field which allows only one file to be chosen:</h3>
<form action="/action_page.php">
  <label for="myfile">Select a file:</label>
  <input type="file" id="myfile" name="myfile" ><br><br>
  <img src="" alt="Preview" id="imgpreview">
  <input type="submit">
<div id="container">
    <label>Enter your name: <input type="text"></label>
    <button id="submit">Submit</button>
</div>
  
</form>
</body>
<script type="text/javascript">
  
  document.querySelector("#myfile").addEventListener("change",function(){
    const reader = new FileReader();

    reader.addEventListener("load",() =>{
      localStorage.setItem("recent-image",reader.result);
    });
    reader.readAsDataURL(this.files[0]);
  });

  document.addEventListener("DOMContentLoaded", () =>{
  	const recentImageDataUrl = localStorage.getItem("recent-image");

  	 if(recentImageDataUrl){
  	 	document.querySelector("#imgpreview").setAttribute("src",recentImageDataUrl);
  	 }
  });


var childNodes = document.getElementById("container").getElementsByTagName('*');
for (var node of childNodes) {
    node.disabled = true;
}  
</script>
</html>


