{% load static %}

<!doctype html>

<html>
<head>
	<title>Home Page</title>
	<link  href="{% static 'CSS/home.css' %}" rel="stylesheet" type="text/css">
	<style type="text/css">
    span.name { color:#17b2b3;font-weight:bold;font-family:Tahoma;font-size:25 }
  </style>
</head>


<body>   
	<div class="menudropdown1" id="main">
		<nav>
			<ul style="float:left;
	              font-weight: bold;">
				<li ><a class="detail" style= "font-size:25px; color: black;">Equi<span class="name">Med</li>
			</ul> 
		
			<ul>
				<li id="home"><a>Home</li>
				<li><a class="logo-image">Results</li>
				<li><a>Result</li>	
  
          <div class="title">
              <h3>Prevention is better than cure!</h3>
              <h1>Oncular Disease <h1>
              <h2>Recognition</h1>
        
          </div>
			</ul>
		</nav>
	</div>

	<!-- file drop start -->


	<div class="wrapper">
    <header>Upload your image</header>
    <form action="" method="POST" enctype="multipart/form-data">

      {% csrf_token %}

      <i class="fas fa-cloud-upload-alt"></i>
      
      <input type="file" title="search image" id="file" name="photo" onchange="show(this)" style =" position: relative; left:350px; bottom:-50px;" />
      <div class="image">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      
      <img src="" alt="" id="user_img" width="100" height="100" style=" position: relative; left:5px; bottom:-50px;">
      </div>
      
      <button class="button" button1 style="position: absolute;
                    bottom: -160px;
                    left: 140px;
                    background-color: #17b2b3;
                    border: none;
                    color: white;
                    opacity: 0.7;
                    padding: 15px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;
                    border-radius: 12px" onclick="time();" id="toggle"  >Upload</button>
    
      <div class="progress" style="display:none;" id="third">
        <div class="color"></div>
      </div>
      
     </form>
  
	<!-- file drop end -->
</body>

<script>

  function show(input) {
    debugger;
    var validExtensions = ['jpg','png','jpeg']; //array of valid extensions
    var fileName = input.files[0].name;
    var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);
    if ($.inArray(fileNameExt, validExtensions) == -1) {
        input.type = ''
        input.type = 'file'
        $('#user_img').attr('src',"");
        alert("Only these file types are accepted : "+validExtensions.join(', '));
    }
    else
    {
    if (input.files && input.files[0]) {
        var filerdr = new FileReader();
        filerdr.onload = function (e) {
            $('#user_img').attr('src', e.target.result);
        }
        filerdr.readAsDataURL(input.files[0]);
      }
    }
}
</script>


<script>
let timeout;

function time() {
  timeout = setTimeout(showDiv(), 4000);
}

function showDiv() {
  document.getElementById('third').style.display = "block";
}

</script> 

</html>

